STAND_HOSTNAME=jira.company.com
JIRA_SOFTWARE_VERSION=8.20.8-ubuntu-jdk11
POSTGRES_VERSION=12.11-bullseye
POSTGRES_USER=postgres
POSTGRES_PASSWORD=PASSWORD
PGADMIN_VERSION=6.10
PGADMIN_DEFAULT_EMAIL=admin@company.com
PGADMIN_DEFAULT_PASSWORD=PASSWORD
NGINX_VERSION=1.21.6
PORTAINER_VERSION=2.6.3
PORTAINER_ADMIN_ENCRYPT_PASSWORD=HASHED-PASSWORD
TRAEFIK_VERSION=v2.4.8
TRAEFIK_AUTH_DATA=admin:HASHED-PASSWORD